.menu {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.menu li {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background: #af7ead;
    border-radius: 100px;
}
.menu li a{
    text-decoration: none;
    list-style-type: none;
    color: #dcbadb;
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

img{
    background-color: #af7ead;
    position: fixed;
    bottom: 115px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    max-width: 100%;
    border-radius: 50px;
}
.abajo h1 {
    position: fixed;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}
.ta a{
            font-size: 2.5rem;
            font-weight: bold;
            text-decoration: none;
            letter-spacing: 1px;
            padding: 8px 20px;
            border-radius: 12px;
            animation: textoRojo 4s linear infinite;
            background: rgba(247, 0, 0, 0.322);
            box-shadow: 0 5px 20px rgba(149, 117, 205, 0.15);
            border: 1px solid rgba(179, 157, 219, 0.3);
            transition: all 0.3s ease;

            
        }
        
        @keyframes textoRojo {
            0% { color: #ff0000; }     /* Rojo brillante */
            20% { color: #cc0000; }    /* Rojo intenso */
            40% { color: #990000; }    /* Rojo oscuro */
            60% { color: #ff3333; }    /* Rojo claro */
            80% { color: #cc3333; }    /* Rojo terroso */
            100% { color: #ff0000; }  /* Vuelve al inicio */
        }
        
        /* Opcional: Efecto al pasar el mouse */
        .ta:hover {
            text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
        }
